/* Application Default Config*/

ext {
    build_compileSdkVersion = ${build_compileSdkVersion}
    build_applicationId = "${applicationId}"
    build_minSdkVersion = ${build_minSdkVersion}
    build_targetSdkVersion = ${build_targetSdkVersion}
    build_versionCode = ${build_versionCode}
    build_versionName = ${build_versionName}
    build_databinding_enable = ${build_databinding_enable}
    build_abortOnError_enable = ${build_abortOnError_enable}
}

/* Root Project Version*/

ext {
    root_kotlin_version = ${root_kotlin_version}
    root_build_gradle_version = ${root_build_gradle_version}
}

/* ApplicationDependency*/

ext {
    appcompatx = '1.1.0'
    constraint_layout = '1.1.3'
    multidex = '2.0.0'

    recycler_view = '1.0.0'
    cardviewx =  '1.0.0'
    materialx =  '1.0.0'
    androidx_legacy_support_v4 = '1.0.0'

    lifecycle = '2.1.0'
    room = '2.2.1'
    work_manager = '2.2.0'
    paging = '2.1.0'

    ktx_core = '1.0.1'
    coroutines = '1.3.2'

    retrofit = "2.6.2"
    gson_convertor = "2.6.2"
    retrofit_interceptor = '3.9.0'
    glide = '3.7.0'

    junit = '4.12'
    runner = '1.1.1-alpha01'
    espresso = '3.1.1-alpha01'

    lottie = '3.0.7'
    fcm = '19.0.1'
    playAuthVersion = '17.0.0'
    playAuthVersionPhone = '17.1.0'
    textDrawable = '1.0.1'
    circularImageView = '3.0.0'
    stetho = '1.3.1'
    matisse = '0.5.2'
}

/* RepositoryURL */

static def addRepos(RepositoryHandler handler) {
    handler.google()
    handler.jcenter()
    handler.mavenCentral()
    handler.mavenLocal()

    handler.maven { url 'https://oss.sonatype.org/content/repositories/snapshots' }
    handler.jcenter { url "https://jcenter.bintray.com" }
    handler.maven { url "https://jitpack.io" }
    handler.maven { url 'http://dl.bintray.com/amulyakhare/maven' }

}

ext.addRepos = this.&addRepos