package ${applicationId}.datasource.database.dao

import androidx.lifecycle.LiveData
import androidx.room.Dao
import androidx.room.Insert
import androidx.room.Delete
import androidx.room.OnConflictStrategy
import androidx.room.Query
import ${applicationId}.datasource.database.entity.*


@Dao
interface ${jsonEntity.completeEntityNameWithoutDot}Dao : BaseDao<${jsonEntity.completeEntityName}> {

    @Query("SELECT * FROM ${jsonEntity.tableName}")
    fun fetchAll(): LiveData<List<${jsonEntity.completeEntityName}>>
}
