package ${applicationId}.datasource.network.retrofit

import android.util.Log
import okhttp3.OkHttpClient
import okhttp3.logging.HttpLoggingInterceptor
import java.util.concurrent.TimeUnit
import ${applicationId}.BuildConfig


object OkHttpClientInterceptor {

    val instance: OkHttpClient
        get() {
            val logging = HttpLoggingInterceptor()
            logging.level = if (BuildConfig.DEBUG)
                HttpLoggingInterceptor.Level.BODY
            else
                HttpLoggingInterceptor.Level.NONE

            val builder = OkHttpClient.Builder()
            val connectionTimeOut: Long = 30000
            builder.connectTimeout(connectionTimeOut, TimeUnit.MILLISECONDS)
            builder.readTimeout(connectionTimeOut, TimeUnit.MILLISECONDS)
            builder.interceptors().add(logging)
            return builder.build()
        }

}
