package ${applicationId}.view.${component}

import android.os.Bundle
import androidx.appcompat.app.AppCompatActivity
import androidx.appcompat.app.ActionBar
import androidx.databinding.DataBindingUtil
import androidx.lifecycle.ViewModelProviders
import ${applicationId}.R
import ${applicationId}.databinding.${BindingClassName}

class ${ClassName} : AppCompatActivity() {

    private lateinit var viewModel: ${ViewModelName}
    private lateinit var mBinding: ${BindingClassName}

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        setContentView(R.layout.${LayoutFileName})
        initVariables()
        initToolbar()
        viewModel.navigateToChildFragment(${FragmentName}.newInstance())
    }


    private fun initVariables() {
        mBinding = DataBindingUtil.setContentView(this, R.layout.${LayoutFileName})
        viewModel = ViewModelProviders.of(this).get(${ViewModelName}::class.java)
        viewModel.initFragmentManager(supportFragmentManager)
    }

    private fun initToolbar() {
       setSupportActionBar(mBinding.toolbar)
       val ab = supportActionBar
       if(ab != null) {
           val customAction = layoutInflater.inflate(R.layout.title_bar_app, null)
           ab.customView = customAction
           ab.displayOptions = ActionBar.DISPLAY_SHOW_CUSTOM
        }
    }
}
