<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <data>

        <variable
            name="${item}"
            type="${applicationId}.${vopath}" />
    </data>

    <androidx.cardview.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginStart="@dimen/dimen_5_dp"
        android:layout_marginEnd="@dimen/dimen_5_dp"
        app:cardCornerRadius="@dimen/dimen_3_dp"
        app:cardElevation="@dimen/dimen_2_dp"
        app:cardUseCompatPadding="true">

        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:clipChildren="false"
            android:padding="@dimen/dimen_10_dp">

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:gravity="center"
                android:layout_centerInParent="true"
                tools:text="This is sample text" />

        </RelativeLayout>
    </androidx.cardview.widget.CardView>
</layout>