<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <data>

        <variable
            name="item"
            type="${applicationId}.${vopath}" />
    </data>

    <androidx.cardview.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginStart="@dimen/dimen_5_dp"
        android:layout_marginEnd="@dimen/dimen_5_dp"
        app:cardCornerRadius="@dimen/dimen_3_dp"
        app:cardElevation="@dimen/dimen_2_dp"
        app:cardUseCompatPadding="true">

      <LinearLayout
                 android:layout_width="match_parent"
                 android:layout_height="wrap_content"
                 android:clipChildren="false"
                 android:orientation="vertical"
                 android:padding="@dimen/dimen_10_dp">

#set($isPrimary = "true")
#foreach($ui in ${uiComponents})
    #if($ui.isRowItem && $isPrimary=="true")
         #generateHeader($ui)
    #end
    #if($ui.isRowItem && $isPrimary=="false")
             #generateSubHeader($ui)
    #end
    #set($isPrimary = "false")
#end
</LinearLayout>
    </androidx.cardview.widget.CardView>
</layout>

####################### MACRO : generate HeaderItem #######################

#macro(generateHeader $ui)
 <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="@{item.$ui.attributeName}"
        style="@style/TextViewRowItemHeader"
  />
#end
########################################################


####################### MACRO : generate SubHeaderItem #######################

#macro(generateSubHeader $ui)
   <TextView
      android:layout_width="wrap_content"
       android:layout_height="wrap_content"
       android:text="@{item.$ui.attributeName}"
       style="@style/TextViewRowItemSubHeader"
    />
#end