<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <data>
        <variable
            name="headerName"
            type="String" />

    </data>
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        tools:ignore="MergeRootFrame">

         <TextView
                  android:id="@+id/tvHeader"
                  style="@style/HeaderText"
                  android:layout_width="wrap_content"
                  android:layout_height="wrap_content"
                  android:text="@{headerName}" />

        <View
            android:layout_width="match_parent"
            android:background="@color/colorHeaderSeparator"
            android:layout_marginEnd="@dimen/dimen_50_dp"
            android:layout_marginStart="@dimen/dimen_50_dp"
            android:layout_below="@+id/tvHeader"
            android:layout_height="2dp"/>

    #if($GenerateRV)
        <androidx.recyclerview.widget.RecyclerView
            android:id="@+id/rv"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/tvHeader"
            android:clipChildren="false"
            android:clipToPadding="false"
            android:divider="@android:color/background_dark"
            android:dividerHeight="4dp"
            android:scrollbars="vertical"
            android:layout_marginTop="@dimen/dimen_30_dp"
            tools:listitem="@layout/item_user" />


        <include
            android:id="@+id/includeEmpty"
            layout="@layout/empty_state"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:visibility="gone" />

        <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/progress"
            android:layout_width="300dp"
            android:layout_height="300dp"
            android:layout_centerHorizontal="true"
            android:layout_centerVertical="true"
            android:visibility="gone"
            app:lottie_autoPlay="true"
            app:lottie_fileName="loader.json"
            app:lottie_loop="true" />

        <com.airbnb.lottie.LottieAnimationView
            android:id="@+id/error"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:visibility="gone"
            app:lottie_autoPlay="true"
            app:lottie_fileName="error.json"
            app:lottie_loop="true" />

        <com.google.android.material.floatingactionbutton.FloatingActionButton
            android:id="@+id/fab"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentEnd="true"
            android:layout_alignParentBottom="true"
            android:layout_margin="@dimen/dimen_30_dp"
            android:visibility="visible"
            app:srcCompat="@android:drawable/ic_input_add" />
    #end

    </RelativeLayout>
</layout>