package ${applicationId}.view.${component}

import android.os.Bundle
import android.view.LayoutInflater
import android.view.View
import android.view.ViewGroup
import androidx.databinding.DataBindingUtil
import androidx.fragment.app.Fragment
import androidx.lifecycle.ViewModelProviders
import androidx.lifecycle.Observer
import ${applicationId}.R
import ${applicationId}.vo.Status
import ${applicationId}.databinding.${BindingClassName}

class ${ClassName} : Fragment() {

    companion object {
        fun newInstance() = ${ClassName}()
    }

    private lateinit var viewModel: ${ViewModelName}
    private lateinit var mBinding: ${BindingClassName}

    override fun onCreateView(inflater: LayoutInflater, container: ViewGroup?,
                              savedInstanceState: Bundle?): View? {
        mBinding = DataBindingUtil.inflate(
                inflater,
                R.layout.${LayoutFileName},
                container,
                false
        )
        return mBinding.root
    }

    override fun onActivityCreated(savedInstanceState: Bundle?) {
        super.onActivityCreated(savedInstanceState)
        viewModel = ViewModelProviders.of(this).get(${ViewModelName}::class.java)
        viewModel.initLiveData()
        observeData()
    }

    private fun observeData() {

        viewModel.doOperation().observe(this, Observer { value ->
            if (null != value && value.status == Status.SUCCESS) {

            }
        })

    }
}
