package ${applicationId}.datasource.repository

import androidx.lifecycle.LiveData
import ${applicationId}.vo.Resource

interface ${ClassName} {

    fun doSomething(any: Any?): LiveData<Resource<Any>>
}
